body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'open sans', sans-serif;
}

.full_body{
	font-size:  18px;
	height:  800px;
	background-image: linear-gradient(to right top, #1b92ac, #00aeb2, #00c7a3, #6fdd83, #c1ec5f);
}

.title{
	color: white;
	font-size:30px ;
	display: flex;
	justify-content: center;
	align-items: centre;
	padding: 30px;
}

.container{
	display: flex;
	justify-content: space-between;
	margin: 100px;
}

.buttons{
	outline: flex;
	border: none;
	padding: 10px 20px;
	color: white;
	background-color: rgb(233, 60, 60);
	text-decoration: none;
	font-size: 18px;
	border-radius: 4px;
}

table{
	background-color: rgba(0, 0, 0, 0.164);
	color: white;
	border: 1px solid white;
	margin-top: 30px;
	border-radius: 4px;
}

td{
	font-size: 15px;
}

.add-new-expenses, .add-category{
	margin-top: 10px;
	background-color: rgb(175, 224, 41);
	padding: 10px;
	border-radius: 4px;
	border: 1px solid grey;
	display: none;
}

.add-new-expenses span, .add-category span{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0px;
	font-size: 15px;
} 

.form-input{
	background-color: rgba(0, 0, 0, 0.164);
	padding: 8px 10px;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
}

.form-inout:focus{
	background-color: rgba(0, 0, 0,0.164);
	border: 1px solid white;
	outline: none;
}

.available-categories{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.164);
	color: white;
	font-size: 18px;
	border-radius: 4px;
}

.available-categories span{
	padding: 8px 10px;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.subtitle{
	font-size: 23px;
	color:  white;
	margin-top: 30px;
}